<script type="text/ng-template" id="importWarning.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">{{"errorsInLastImportWarning.text" | translate}}</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <p>{{"ignoreAllErrorsQuestion.text" | translate}}</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="confirm(false)">{{"importPrevious.button" | translate}}</button>
        <button class="btn btn-warning" type="button" ng-click="confirm(true)">{{"ignoreErrors.button" | translate}}</button>
    </div>
</script>
<div ng-show="!vm.subscription" xmlns:top="http://www.w3.org/1999/xhtml" xmlns:top="http://www.w3.org/1999/xhtml">
    <div>
        <p>{{"nosubscriptionmessage.info" | translate}}</p><br/>
    </div>
    <div>
       <p></p><a class="button" href="#/subscription"><i class="icon-plus"></i>&nbsp;{{"configuresubscription.button" | translate}}</a></p>
    </div>
</div>
<div ng-show="vm.subscription">
    <div>
        <a class="button" href="#/subscription"><i class="icon-plus"></i>&nbsp;{{"editsubscription.button" | translate}}</a><br><br>
    </div>
    <div ng-show="!vm.runningImport" >
        <fieldset>
            <legend>{{"newimport.text" | translate}}</legend>
            <div ng-hide="vm.showLoading">
                <p>{{"avoidUpdatesInfo.text" | translate}}</p>
                <p>&nbsp;</p>
                <div>
                    <p><button ng-click="vm.startImportIfNoErrors()">{{"importFromServer.button" | translate}}</button><br/></p>
                    <p ng-show="vm.hasErrorsInPreviousImport()">
                        <i>{{"fixAllErrorsWarning.text" | translate}}</i></p>
                    <p>&nbsp;</p>
                    <p>- OR -</p>
                    <p>&nbsp;</p>
                </div>

                <form name="fileUpload">
                    <p>Import off-line from a zip file</p>
                    <p><input type="file"
                           style="border: none"
                           ngf-select
                           ng-model="zipFile"
                           name="file"
                           accept="{{vm.allowedFormat}}"
                           required></p>
                    <p><button ng-disabled="!fileUpload.$valid || !vm.isFileCorrect(zipFile.name)"
                            ng-click="vm.uploadZip(zipFile)">{{"importFromFile.button" | translate}}</button></p>
                </form>
            </div>
            <div class="loader" ng-show="vm.showLoading"></div>
        </fieldset>
    </div>
    <div ng-show="vm.runningImport">
        <fieldset>
            <legend>{{"importinprogress.text" | translate}}</legend><br>
            <div>
               <p>{{"importprogresstime.text" | translate}} {{vm.runningImport.importTime}}</p>
                <p>{{"completed.text" | translate}} {{vm.runningImport.importProgress}} % ({{vm.runningImport.status | limitTo : vm.textLength}}, <a href="#/import/{{vm.runningImport.uuid}}">see details</a>)</p>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{vm.runningImport.importProgress}}"
                         aria-valuemin="0" aria-valuemax="100" style="width:{{vm.runningImport.importProgress}}%">
                    </div>
                </div>
            </div><br>
        </fieldset>
    </div>
    <br>
    <div>
        <fieldset>
            <legend>{{"previousimports.text" | translate}}</legend>
            <td>
                <table>
                    <thead>
                    <tr>
                        <th>{{"date.text" | translate}}</th>
                        <th>{{"duration.text" | translate}}</th>
                        <th>{{"status.text" | translate}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="import in vm.previousImports.results" ng-if="import.localDateStopped">
                        <td><a href="#/import/{{import.uuid}}">{{import.localDateStarted | date:'medium'}}</a></td>
                        <td>{{import.importTime}}</td>

                        <td ng-show="import.expanded">
                            {{import.status}}
                            <span ng-click="import.expanded = false"><br><a>{{"showLess.text" | translate}}</a></span>
                        </td>

                        <td ng-show="!import.expanded">
                            {{import.status | limitTo : vm.textLength}}
                            <span ng-if="import.status.length > vm.textLength" ng-click="import.expanded = true"><br><a>{{"showMore.text" | translate}}</a></span>
                        </td>
                    </tr>
                    <tr ng-show="(vm.runningImport && vm.previousImports.results.length == 1) || (!vm.runningImport && vm.previousImports.results.length == 0)"><td colspan="3">None</td></tr>
                    </tbody>
                </table>
            </div>
        </fieldset>
    </div>
</div>
