<div ng-show="!vm.subscription">
    <div>
        <a class="button" href="#/subscription"><i class="icon-plus"></i>&nbsp;{{"configuresubscription.button" | translate}}</a>
    </div><br>
    <div>
        <p>{{"nosubscriptionmessage.info" | translate}}</p>
    </div>
</div>
<div ng-show="vm.subscription">
    <div>
        <a class="button" href="#/subscription"><i class="icon-plus"></i>&nbsp;{{"editsubscription.button" | translate}}</a><br><br>
    </div>
    <div ng-show="!vm.runningImport" >
        <fieldset>
            <legend>{{"nextimports.text" | translate}}</legend><br>
            <div style="text-align: center">
                <div ng-hide="vm.showLoading">
                    <button ng-click="vm.startImport()">{{"importnow.button" | translate}}</button>
                    &nbsp;{{"avoidUpdatesInfo.text" | translate}}
                </div>
                <div class="loader" ng-show="vm.showLoading"></div>
            </div><br>
        </fieldset>
    </div>
    <div ng-show="vm.runningImport">
        <fieldset>
            <legend>{{"importinprogress.text" | translate}}</legend><br>
            <div>
               <p>{{"importprogresstime.text" | translate}} {{vm.runningImport.importTime}}</p>
                <p>{{"completed.text" | translate}} {{vm.runningImport.importProgress}} %</p>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{vm.runningImport.importProgress}}"
                         aria-valuemin="0" aria-valuemax="100" style="width:{{vm.runningImport.importProgress}}%">
                    </div>
                </div>
            </div><br>
        </fieldset>
    </div>
    <br>
    <div>
        <fieldset>
            <legend>{{"previousimports.text" | translate}}</legend>
            <div>
                <table>
                    <thead>
                    <tr>
                        <th>{{"date.text" | translate}}</th>
                        <th>{{"duration.text" | translate}}</th>
                        <th>{{"status.text" | translate}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="import in vm.previousImports.results">
                        <td><a href="#/import/{{import.uuid}}">{{import.localDateStarted | date:'medium'}}</a></td>
                        <td>{{import.importTime}}</td>

                        <td ng-show="import.expanded">
                            {{import.status}}
                            <span ng-click="import.expanded = false"><br><a>&hellip;show less</a></span>
                        </td>

                        <td ng-show="!import.expanded">
                            {{import.status | limitTo : vm.textLength}}
                            <span ng-if="import.status.length > vm.textLength" ng-click="import.expanded = true"><br><a>&hellip;show more</a></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </fieldset>
    </div>
</div>