<div>
    <form name="saveSubscription" novalidate>
        <fieldset>
            <legend>{{"configuresubscription.title" | translate}}</legend>
            <div>
                <br>
                <label name="subscription-url">{{"subscriptionurl.label" | translate}}</label><br>
                <input id="subscription-url" ng-model="vm.subscription.url" style="width: 60%" required/>
                </p>
                <p>
                    <label name="subscription-token">{{"tokenurl.label" | translate}}</label><br>
                    <input id="subscription-token" ng-model="vm.subscription.token" style="width: 60%" required/>
                </p>
                <input ng-model="vm.subscription.subscribedToSnapshot" type="checkbox"> {{"subscription.options.checkbox" | translate}}<br>
                <input ng-model="vm.subscription.validationType" type="checkbox" ng-true-value="'NONE'" ng-false-value="'FULL'"> {{"subscription.validationType.checkbox" | translate}}<br>
            </div>
            <br>
            <div>
                <button ng-click="vm.subscribe()" ng-disabled="saveSubscription.$invalid">{{"subscribe.button" | translate}}</button>
                <button ng-click="vm.cancel()">{{"cancelchanges.button" | translate}}</button>
            </div>
        </fieldset>
    </form>
</div>
<div ng-show="vm.subscription.uuid">
    <fieldset>
        <legend>{{"unsubscribe.text" | translate}}</legend><br>
        <button ng-click="vm.unSubscribe()">{{"unsubscribe.button" | translate}}</button>
        <p>{{"unsubscribeinfo.text" | translate}}</p>
    </fieldset>
</div>