<div>
    <form name="saveSubscription" novalidate>
        <fieldset>
            <legend>{{"configuresubscription.title" | translate}}</legend>
            <div>
                <br>
                <label name="subscription-url">{{"subscriptionurl.label" | translate}}</label><br>
                <input id="subscription-url" ng-model="vm.subscription.url" style="width: 60%" required/>
                </p>
                <p>
                    <label name="subscription-token">{{"tokenurl.label" | translate}}</label><br>
                    <input id="subscription-token" ng-model="vm.subscription.token" style="width: 60%" required/>
                </p>
                <p><a ng-click="vm.isShowAdvanced = !vm.isShowAdvanced" ng-init="vm.isShowAdvanced = false">{{"showAdvanced.text" | translate}}</a></p>
                <div ng-show="vm.isShowAdvanced">
                    <input ng-disabled="vm.isVersionAdded(vm.subscription.url)" ng-model="vm.subscription.subscribedToSnapshot" type="checkbox"> {{"subscription.options.checkbox" | translate}}<br>
                    <p style="color:#ffcc00; font-size:12px" ng-show="vm.isVersionAdded(vm.subscription.url)">You cannot subscribe to a SNAPSHOT if you've provided the collection version</p>                    <input ng-model="vm.subscription.validationType" type="checkbox" ng-true-value="'NONE'" ng-false-value="'FULL'"> {{"subscription.validationType.checkbox" | translate}}<br>
                </div>
            </div>
            <br>
            <div>
                <button ng-click="vm.subscribe()" ng-disabled="saveSubscription.$invalid">{{"subscribe.button" | translate}}</button>
                <button ng-click="vm.cancel()">{{"cancelchanges.button" | translate}}</button>
            </div>
        </fieldset>
    </form>
</div>
<div ng-show="vm.subscription.uuid">
    <form>
        <fieldset>
            <legend>{{"unsubscribe.text" | translate}}</legend>
            <p>{{"unsubscribeinfo.text" | translate}}</p>
            <p><button ng-click="vm.unSubscribe()">{{"unsubscribe.button" | translate}}</button></p>
        </fieldset>
    </form>
</div>