<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<!-- Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>Nicholas Ingosi Magaja</author>
	<description>
		${project.parent.description}
	</description>
	<updateURL>https://modules.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL>
	<require_version>${openMRSVersion}</require_version>
	<!-- / Module Properties -->
	<require_modules>
		<require_module version="${appframeworkVersion}">org.openmrs.module.appframework</require_module>
		<require_module version="${kenyauiVersion}">org.openmrs.module.kenyaui</require_module>
	</require_modules>

	
	<!-- Module Activator -->
	<activator>${project.parent.groupId}.${project.parent.artifactId}.OpenConceptLabActivator</activator>
	
	
	<!-- Adds link to admin page -->
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>${project.parent.groupId}.${project.parent.artifactId}.extension.html.AdminList</class>
	</extension>
	
	<!-- Maps hibernate file's, if present -->
	<mappingFiles>
				
	</mappingFiles>
	
	<packagesWithMappedClasses>
		org.openmrs.module.openconceptlab
	</packagesWithMappedClasses>

	<!-- Internationalization -->
	<!-- All message codes should start with ${project.parent.artifactId}. -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->

</module>

